.title {
    color: magenta;
}

.full-width {
    width: 100%;
    padding: 0 5%;
}

.maly-obrazok {
    width: 2.5rem;
    height: 2.5rem;
}

.stovka {
    margin-left: auto;
}

.nula {
    margin-right: auto;
}

.polovica {
    align-content: center;
}

.stats {
    color: #769AAA;
    background: #151F2E;
}

.highlighted {
    color: #DA4127;
}

.highlightedBg {
    background: #DA4127;
}

.navBarColors {
    color: #DBDDE2;
    background: #242540;
}

.bgColor {
    background: #0B1622;
}