.title {
    color: magenta;
}

.full-width {
    width: 100%;
    padding: 0 5%;
}

.maly-obrazok {
    width: 2.5rem;
    height: 2.5rem;
}

.stovka {
    margin-left: auto;
}

.nula {
    margin-right: auto;
}

.polovica {
    align-content: center;
}